/* .col-md-6 {
    background-color: #ededed;
    
} */

.summary {
    color: white;
}

/* Do I want to put the background color on .container or on body? (body looks better) */
.container {
    padding: 0px;
    margin: 0px;
    background-color: #ededed;
    position: absolute;
    top: 20%;
}

.navbar {
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 5%;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    border: 2px;
    font-size: 14px;
}

/* Getting rid of the default link styles here */
.navbar li a {
    color:grey;
    text-decoration: none;
  }
