/* .col-md-6 {
    background-color: #ededed;
    
} */



/* #text-box {
    background-color: white;
} */

.summary {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.viz-bar {
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.viz-bar {
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right;
}
/* this has a gap on the right - how to fix? could fix with width? */
.container {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ededed;
    position: absolute;
    top: 20%;
}


body {
    background-color: #ededed;
}

  /* .box {
      height: 300px;
      background: white;
  } */
.container h1 {
    margin-left: 5%;
}

.container p {
    margin-left: 5%;
}
h2 {
    padding-bottom: 5%;
}

h4 {
    padding-top: 5%;
}

#summary-viz {
      float: left;
      width: 300px;
      height: 200px;
  }

img {
    padding: 2%;
    margin: 2%;
}

.col-md-8{
    padding-left:5%;
}

.col-md-4 {
    padding-right: 5%;
}




.navbar {
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 5%;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    border: 2px;
    font-size: 14px;
}

/* Getting rid of the default link styles here */
.navbar li a {
    color:grey;
    text-decoration: none;
  }



  h5 {
    text-align: center;
}

    
.comparison-header{
    position: absolute;
    left: 35%;    
}

.table {       
    padding: 10px;
    margin: auto;
    width: 80%;
    background-color: white; 
    position: absolute;
    top:40%;
    left: 5%;
    margin-left: auto;
    margin-right: auto;
    }


    /* .topnav {
        background-color: #333;
        overflow: hidden;
      } */
      
      /* Style the links inside the homebutton */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #4CAF50;
        color: white;
      }

      .topnav li.nav-item {
          display: block;
      }

@media (max-width: 600px) {

    
    .col-md-6 img {
        display: inline-block;
    }
